# **Package installation**

In [1]:
pip install -U sentence-transformers

Collecting sentence-transformers
  Downloading https://files.pythonhosted.org/packages/f4/fd/0190080aa0af78d7cd5874e4e8e85f0bed9967dd387cf05d760832b95da9/sentence-transformers-0.3.8.tar.gz (66kB)
     |████████████████████████████████| 71kB 1.9MB/s
Collecting transformers<3.4.0,>=3.1.0
  Downloading https://files.pythonhosted.org/packages/19/22/aff234f4a841f8999e68a7a94bdd4b60b4cebcfeca5d67d61cd08c9179de/transformers-3.3.1-py3-none-any.whl (1.1MB)
     |████████████████████████████████| 1.1MB 7.5MB/s
Requirement already satisfied, skipping upgrade: tqdm in /usr/local/lib/python3.6/dist-packages (from sentence-transformers) (4.41.1)
Requirement already satisfied, skipping upgrade: torch>=1.2.0 in /usr/local/lib/python3.6/dist-packages (from sentence-transformers) (1.6.0+cu101)
Requirement already satisfied, skipping upgrade: numpy in /usr/local/lib/python3.6/dist-packages (from sentence-transformers) (1.18.5)
Requirement already satisfied, skipping upgrade: scikit-learn in /usr/local/lib/python3.6/dist-packages (from sentence-transformers) (0.22.2.post1)
Requirement already satisfied, skipping upgrade: scipy in /usr/local/lib/python3.6/dist-packages (from sentence-transformers) (1.4.1)
Requirement already satisfied, skipping upgrade: nltk in /usr/local/lib/python3.6/dist-packages (from sentence-transformers) (3.2.5)
Requirement already satisfied, skipping upgrade: dataclasses; python_version < "3.7" in /usr/local/lib/python3.6/dist-packages (from transformers<3.4.0,>=3.1.0->sentence-transformers) (0.7)
Requirement already satisfied, skipping upgrade: packaging in /usr/local/lib/python3.6/dist-packages (from transformers<3.4.0,>=3.1.0->sentence-transformers) (20.4)
Collecting tokenizers==0.8.1.rc2
  Downloading https://files.pythonhosted.org/packages/80/83/8b9fccb9e48eeb575ee19179e2bdde0ee9a1904f97de5f02d19016b8804f/tokenizers-0.8.1rc2-cp36-cp36m-manylinux1_x86_64.whl (3.0MB)
     |████████████████████████████████| 3.0MB 23.6MB/s
Collecting sacremoses
  Downloading https://files.pythonhosted.org/packages/7d/34/09d19aff26edcc8eb2a01bed8e98f13a1537005d31e95233fd48216eed10/sacremoses-0.0.43.tar.gz (883kB)
     |████████████████████████████████| 890kB 40.1MB/s
Collecting sentencepiece!=0.1.92
  Downloading https://files.pythonhosted.org/packages/e5/2d/6d4ca4bef9a67070fa1cac508606328329152b1df10bdf31fb6e4e727894/sentencepiece-0.1.94-cp36-cp36m-manylinux2014_x86_64.whl (1.1MB)
     |████████████████████████████████| 1.1MB 38.3MB/s
Requirement already satisfied, skipping upgrade: regex!=2019.12.17 in /usr/local/lib/python3.6/dist-packages (from transformers<3.4.0,>=3.1.0->sentence-transformers) (2019.12.20)
Requirement already satisfied, skipping upgrade: requests in /usr/local/lib/python3.6/dist-packages (from transformers<3.4.0,>=3.1.0->sentence-transformers) (2.23.0)
Requirement already satisfied, skipping upgrade: filelock in /usr/local/lib/python3.6/dist-packages (from transformers<3.4.0,>=3.1.0->sentence-transformers) (3.0.12)
Requirement already satisfied, skipping upgrade: future in /usr/local/lib/python3.6/dist-packages (from torch>=1.2.0->sentence-transformers) (0.16.0)
Requirement already satisfied, skipping upgrade: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->sentence-transformers) (0.17.0)
Requirement already satisfied, skipping upgrade: six in /usr/local/lib/python3.6/dist-packages (from nltk->sentence-transformers) (1.15.0)
Requirement already satisfied, skipping upgrade: pyparsing>=2.0.2 in /usr/local/lib/python3.6/dist-packages (from packaging->transformers<3.4.0,>=3.1.0->sentence-transformers) (2.4.7)
Requirement already satisfied, skipping upgrade: click in /usr/local/lib/python3.6/dist-packages (from sacremoses->transformers<3.4.0,>=3.1.0->sentence-transformers) (7.1.2)
Requirement already satisfied, skipping upgrade: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->transformers<3.4.0,>=3.1.0->sentence-transformers) (3.0.4)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->transformers<3.4.0,>=3.1.0->sentence-transformers) (2020.6.20)
Requirement already satisfied, skipping upgrade: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->transformers<3.4.0,>=3.1.0->sentence-transformers) (1.24.3)
Requirement already satisfied, skipping upgrade: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->transformers<3.4.0,>=3.1.0->sentence-transformers) (2.10)
Building wheels for collected packages: sentence-transformers, sacremoses
  Building wheel for sentence-transformers (setup.py) ... done
  Created wheel for sentence-transformers: filename=sentence_transformers-0.3.8-cp36-none-any.whl size=101996 sha256=92c47d5ac1dc9b8e1c6b7d6edc900aa7802b59151ecd191be10f18c6737546e5
  Stored in directory: /root/.cache/pip/wheels/27/ec/b3/d12cc8e4daf77846db6543033d3a5642f204c0320b15945647
  Building wheel for sacremoses (setup.py) ... done
  Created wheel for sacremoses: filename=sacremoses-0.0.43-cp36-none-any.whl size=893257 sha256=33eb8aa9fb41955acd983e4b3b7e279b2c4ee563cf4c41851fc2e01c243a37c8
  Stored in directory: /root/.cache/pip/wheels/29/3c/fd/7ce5c3f0666dab31a50123635e6fb5e19ceb42ce38d4e58f45
Successfully built sentence-transformers sacremoses
Installing collected packages: tokenizers, sacremoses, sentencepiece, transformers, sentence-transformers
Successfully installed sacremoses-0.0.43 sentence-transformers-0.3.8 sentencepiece-0.1.94 tokenizers-0.8.1rc2 transformers-3.3.1

In [2]:
pip install gcld3

Collecting gcld3
  Downloading https://files.pythonhosted.org/packages/61/63/0f5816f6c60fce2f5b2d6106ad1d3a50fc785ac68b1520a78c80b4b84fb7/gcld3-3.0.13-cp36-cp36m-manylinux2010_x86_64.whl (3.8MB)
     |████████████████████████████████| 3.8MB 2.8MB/s
Installing collected packages: gcld3
Successfully installed gcld3-3.0.13

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import spacy
import pathlib
import random
import math
import re
import torch
from transformers import AutoTokenizer, AutoModel
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.metrics.pairwise import euclidean_distances
from sentence_transformers import SentenceTransformer
from sklearn.feature_extraction.text import TfidfVectorizer

In [4]:
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
import gcld3

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
!ls '/content/drive/My Drive/Capstone Shared Docs/result'

'EC2 full run Oct14 result'  'Local Oct 13 result'
'EC2 Oct 13 result'	     'Local Oct 6 result'
'EC2 Oct26 public data'      'terminal log_oct5_am.txt'
'Error Log Resume.xlsx'      'terminal log_oct5.txt'

# **Loading dta files**

In [7]:
df_startup = pd.read_stata("drive/My Drive/Capstone Shared Docs/data/all_deals.dta")
df_startup_unique = df_startup.drop_duplicates(["portfoliocompanyid"],keep="first")

In [8]:
df_public = pd.read_stata("drive/My Drive/Capstone Shared Docs/data/all_public_firms.dta")
df_public_unique = df_public.drop_duplicates(["ÿþmark"],keep="first")

# **Loading txt Data Startups**

In [9]:
path_startup = pathlib.Path("drive/My Drive/Capstone Shared Docs/result/EC2 full run Oct14 result")

In [10]:
txt_startup =list(path_startup.glob('*.txt'))

In [11]:
all_text_startup = {}

for p in txt_startup:
    n = p.name.split("_")[0]
    file = open(p)
    # Remove first two and last characters, because of ascii encoding
    text = file.read().replace("***///***","")[2:-1]
    # remove ""
    text_list = text.split(" ")
    text_list = [x for x in text_list if x!=""]
    text = " ".join(text_list)
    file.close()
    all_text_startup[n] = text
  
print(len(all_text_startup))

430

In [12]:
Txt_startup_frame = pd.DataFrame.from_dict(all_text_startup, orient='index')
Txt_startup_frame.columns = ['Text']
Txt_startup_frame['companyid'] = Txt_startup_frame.index
Txt_startup_frame.index = np.arange(0,len(Txt_startup_frame.companyid))
Txt_startup_frame = Txt_startup_frame.assign(comp_type='S')
Txt_startup_frame = Txt_startup_frame[['companyid', 'comp_type', 'Text']]

In [13]:
stop_words_l=stopwords.words('english')
Txt_startup_frame['Text_cleaned']=Txt_startup_frame.Text.apply(lambda x: " ".join(re.sub(r'[^a-zA-Z]',' ',w).lower() for w in x.split() if re.sub(r'[^a-zA-Z]',' ',w).lower() not in stop_words_l) )

In [14]:
Txt_startup_frame.head()

  companyid  ...                                       Text_cleaned
0     73501  ...  joor skip navigation member log forgot passwor...
1    160418  ...  patients physicians employers login crossover ...
2    161261  ...  home   recent questions   directories   feedba...
3    129092  ...  nanotronics home news products nspec   system ...
4     77179  ...  home us approach technology customers contact ...

[5 rows x 4 columns]

# **Loading txt Data Public Companies**

In [15]:
path_public = pathlib.Path("drive/My Drive/Capstone Shared Docs/result/EC2 Oct26 public data")

In [16]:
txt_public =list(path_public.glob('*.txt'))

In [17]:
all_text_public = {}

for p in txt_public:
    n = p.name.split("_")[0]
    file = open(p)
    # Remove first two and last characters, because of ascii encoding
    text = file.read().replace("***///***","")[2:-1]
    # remove ""
    text_list = text.split(" ")
    text_list = [x for x in text_list if x!=""]
    text = " ".join(text_list)
    file.close()
    all_text_public[n] = text

print(len(all_text_public))

536

In [18]:
Txt_public_frame = pd.DataFrame.from_dict(all_text_public, orient='index')
Txt_public_frame.columns = ['Text']
Txt_public_frame['companyid'] = Txt_public_frame.index
Txt_public_frame.index = np.arange(0,len(Txt_public_frame.companyid))
Txt_public_frame = Txt_public_frame.assign(comp_type='P')
Txt_public_frame = Txt_public_frame[['companyid', 'comp_type', 'Text']]

In [19]:
stop_words_l=stopwords.words('english')
Txt_public_frame['Text_cleaned']=Txt_public_frame.Text.apply(lambda x: " ".join(re.sub(r'[^a-zA-Z]',' ',w).lower() for w in x.split() if re.sub(r'[^a-zA-Z]',' ',w).lower() not in stop_words_l) )

In [20]:
Txt_public_frame
Txt_public_frame.head()

  companyid  ...                                       Text_cleaned
0       151  ...  cvr energy independent petroleum refiner marke...
1      1658  ...  company executive profiles history company val...
2      5503  ...  home   us   locations   atm locations   contac...
3      2901  ...  home   site map   contact us information colle...
4      1510  ...  search  corporate info   contact gaf   news   ...

[5 rows x 4 columns]

# **Concatenate Public and Startup DB**

In [21]:
Txt_all_frame = pd.concat([Txt_startup_frame, Txt_public_frame])
Txt_all_frame.index = np.arange(0,len(Txt_all_frame.companyid))

In [22]:
Txt_all_frame.head()

  companyid  ...                                       Text_cleaned
0     73501  ...  joor skip navigation member log forgot passwor...
1    160418  ...  patients physicians employers login crossover ...
2    161261  ...  home   recent questions   directories   feedba...
3    129092  ...  nanotronics home news products nspec   system ...
4     77179  ...  home us approach technology customers contact ...

[5 rows x 4 columns]

# **Solving some language issues**

In [23]:
Txt_all_frame.iloc[33:34,:]

   companyid  ...                                       Text_cleaned
33    230198  ...  presentacin asesores   colaboradores com desca...

[1 rows x 4 columns]

In [24]:
lan = []
rel_lan = []
detector = gcld3.NNetLanguageIdentifier(min_num_bytes=0, max_num_bytes=10000)

for i in range(len(Txt_all_frame['Text_cleaned'])):
  t =Txt_all_frame.Text_cleaned[i]
  t = str(t)
  
  result = detector.FindLanguage(text=t)
  lan.append(result.language)
  rel_lan.append(result.is_reliable)

In [25]:
Txt_all_frame['language'] = lan
Txt_all_frame['Rela_language'] = rel_lan

In [26]:
Txt_all_frame.language.unique()

array(['en', 'it', 'es', 'fr', 'mg', 'no', 'sn', 'gl', 'zu', 'eo', 'da',
       'fy', 'lb', 'de', 'sr', 'nl', 'fi', 'vi', 'hu', 'su', 'jv', 'pt',
       'ru-Latn'], dtype=object)

In [27]:
Txt_all_frame[Txt_all_frame.language=='es']

    companyid comp_type  ... language Rela_language
27     112162         S  ...       es          True
33     230198         S  ...       es          True
74     297244         S  ...       es          True
355    150133         S  ...       es          True
508      4691         P  ...       es          True
773      4640         P  ...       es          True
803        51         P  ...       es         False

[7 rows x 6 columns]

In [28]:
Txt_all_frame[Txt_all_frame.language=='fr']

    companyid comp_type  ... language Rela_language
55      93431         S  ...       fr         False
257    139205         S  ...       fr          True
316    107417         S  ...       fr          True
343    129019         S  ...       fr         False
491      5208         P  ...       fr          True
650      5107         P  ...       fr          True
733      3106         P  ...       fr          True

[7 rows x 6 columns]

In [29]:
Txt_all_frame_en = Txt_all_frame[(Txt_all_frame.language=='en') ] #| ( (Txt_all_frame.language!='en') & (Txt_all_frame.language==False) )
Txt_all_frame_en.index = np.arange(0,len(Txt_all_frame_en.companyid))

# **Lenght of text**

In [ ]:
word_len = [len(i.split()) for i in Txt_all_frame_en.Text_cleaned ]
text_len = [len(i) for i in Txt_all_frame_en.Text_cleaned ]
Txt_all_frame_en['Word_len'] = word_len
Txt_all_frame_en['Text_len'] = text_len

In [31]:
Txt_all_frame_en.head()

  companyid comp_type  ... Word_len Text_len
0     73501         S  ...     3614    27748
1    160418         S  ...       66      489
2    161261         S  ...       92      656
3    129092         S  ...     2337    19264
4     77179         S  ...      167     1326

[5 rows x 8 columns]

In [32]:
Txt_all_frame_en.Word_len.mean()

30677.095135135136

In [33]:
Txt_all_frame_en.Text_len.mean()

133178.79027027026

In [34]:
Txt_all_frame_en.Word_len.max()

4806695

In [35]:
Txt_all_frame_en.Text_len.max()

16065268

In [36]:
np.percentile(Txt_all_frame_en.Word_len, 95)

58185.59999999997

In [37]:
np.percentile(Txt_all_frame_en.Text_len, 95)

353595.39999999985

In [38]:
np.percentile(Txt_all_frame_en.Word_len, 99)

565369.6799999988

In [39]:
np.percentile(Txt_all_frame_en.Text_len, 99)

2461761.719999997

# **TF-IDF**

In [41]:
stopWords = set(stopwords.words("english"))

In [42]:
vectorizer = TfidfVectorizer(stop_words = stopWords)

In [43]:
Complete_frame = Txt_all_frame_en
Complete_frame.head(9)

  companyid comp_type  ... Word_len Text_len
0     73501         S  ...     3614    27748
1    160418         S  ...       66      489
2    161261         S  ...       92      656
3    129092         S  ...     2337    19264
4     77179         S  ...      167     1326
5     89064         S  ...        8       68
6     76857         S  ...     6487    49653
7     77461         S  ...      107      873
8     88411         S  ...     4664    35884

[9 rows x 8 columns]

In [48]:
X_train = vectorizer.fit_transform(Complete_frame['Text_cleaned'])
X_train.shape

(925, 679401)

In [55]:
with open('/content/drive/My Drive/Capstone Shared Docs/TF_IDF_matrix.npy', 'wb') as f:
  np.save(f, X_train)

In [50]:
pairwise_similarities=cosine_similarity(X_train)

(925, 925)

In [51]:
def get_most_similar(sim_matrix_v, startup_index, how_many=1):
  sim_matrix_copy = sim_matrix_v.copy()
  v = sim_matrix_copy[startup_index,:]
  v[startup_index] = 0
  most_similar_indices = []
  similarity_list = []
  for i in range(how_many):
    ind = np.argmax(v)
    similarity = np.max(v)
    v[ind] = 0
    most_similar_indices.append(ind)
    similarity_list.append(similarity)
  return most_similar_indices, similarity_list

In [52]:
Dict_similarity = []
Strat_score = []
n = 5

for i in range(len(Complete_frame.companyid)):

  most_similar_index,most_similar_similarity = get_most_similar(pairwise_similarities, i, n)
  IDs = [Complete_frame.companyid[j] for j in most_similar_index]
  dict_sim = {IDs[i]: most_similar_similarity[i] for i in range(len(IDs))} 
  strategy_score = np.mean(1-np.array(most_similar_similarity))

  Dict_similarity.append(dict_sim)
  Strat_score.append(strategy_score)

In [ ]:
Complete_frame['Dict_similarity'] = Dict_similarity
Complete_frame['Strat_score'] = Strat_score

In [56]:
Complete_frame.to_csv('/content/drive/My Drive/Capstone Shared Docs/TF_IDF_Results.csv')

In [54]:
Complete_frame.head()

  companyid  ... Strat_score
0     73501  ...    0.890763
1    160418  ...    0.874485
2    161261  ...    0.846288
3    129092  ...    0.923961
4     77179  ...    0.930001

[5 rows x 10 columns]